h1 {
    color: rgb(43, 192, 226);

}
a {
    color: rgb(226, 43, 46);
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(43, 192, 226);
}
a:hover {
    background-color: rgb(226, 43, 46);
    color: white;
}